html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title!= title
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    script(type="text/javascript" src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")
    script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type="text/javascript" src="/static/js/helper.js")
body
  .bd-example.is-paddingless
    nav.navbar.is-danger
      .navbar-brand
        a.navbar-item(href="https://bulma.io")
          img(src="https://bulma.io/images/bulma-logo-white.png" width="112" height="28")
        .navbar-burger.burger(data-target="navMenuColordanger-example")
          span
          span
          span
      #navMenuColordanger-example.navbar-menu
        .navbar-start
          a.navbar-item(href="/")
            | Home
          a.navbar-item.is-active(href="/manage")
            | Manage
          a.navbar-item(href="/terminal")
            | Terminal
          a.navbar-item(href="/status")
            | Status
        .navbar-end
          .navbar-item
            .field.is-grouped
              p.control
                a.bd-sg-button.button(target="_blank" href="/disconnect")
                  span.icon
                    <i class="fas fa-sign-out-alt"></i>
    section.section
      .tile.is-ancestor
        .tile.is-vertical.is-8
          .tile.is-parent
            article.tile.is-child.notification.white-ter
              p.title Tasks
              p.subtitle Currently #{processlist.length} task running
              .content
                .columns
                  .column
                    p.has-text-centered.has-text-weight-bold PID
                  .column
                    p.has-text-centered.has-text-weight-bold CPU%
                  .column
                    p.has-text-centered.has-text-weight-bold MEM
                  .column
                    p.has-text-centered.has-text-weight-bold COMMAND
                  .column    
                each process, index in processlist
                  if index < 10
                    .columns
                      .column
                        p.has-text-centered #{process.pid}
                      .column
                        p.has-text-centered #{process.cpu}
                      .column
                        p.has-text-centered #{process.memory}
                      .column
                        p.has-text-centered #{process.cmd}
                      .column
                        form(action='manage/kill/'+ process.pid, method='POST')
                          button.button.is-pulled-right.is-danger.is-outlined(type='submit') Kill
                  else
                    .columns(style="display: none; align-content: center;")
                      .column
                        p.has-text-centered #{process.pid}
                      .column
                        p.has-text-centered #{process.cpu}
                      .column
                        p.has-text-centered #{process.memory}
                      .column
                        p.has-text-centered #{process.cmd}
                      .column
                        form(action='manage/kill/'+ process.pid, method='POST')
                          button.button.is-pulled-right.is-danger.is-outlined(type='submit') Kill
                .has-text-centered
                  a.button.is-danger#loadmore
                    span.icon.is-small
                      i.fas.fa-arrow-down  

        .tile.is-parent
          article.tile.is-child.notification.is-dark
            .content
              p.title Users
                each user, index in users
                  if index < 10
                    .columns
                      .column
                        p.has-text-centered #{user}
                      .column
                        form(action='manage/remove/'+ user, method='POST')
                          button.button.is-pulled-right.is-danger.is-outlined(type='submit') Remove
                  else 
                    .columns(style="display: none; align-content: right;")
                      .column
                        p.has-text-centered #{user}
                      .column
                        form(action='manage/remove/'+ user, method='POST')
                          button.button.is-pulled-right.is-danger.is-outlined(type='submit') Remove
                .has-text-centered
                  a.button.is-danger#loadmoreusr
                    span.icon.is-small
                      i.fas.fa-arrow-down
